PORT=3000

# MongoDB
MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_cluster_url
MONGODB_DB=your_mongodb_database_name

# SMTP
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT
JWT_SECRET=
JWT_SECRET_REFRESH=

# Cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=