# Основные переменные для Node.js
PORT=3000
NODE_ENV=your_node_env

# Переменные для MongoDB
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=your_database

# Переменные для JWT (авторизация)
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=your_jwt_expires_in
JWT_COOKIE_EXPIRES_IN=your_jwt_cookie_expires_in

# Переменные для Rust
CARGO_HOME=$HOME/.cargo
RUSTUP_HOME=$HOME/.rustup
PATH=$CARGO_HOME/bin:$PATH
RUST_BACKTRACE=1
RUST_LOG=debug
